.section {
    &__action{
        padding: 80px 0;
        @media (max-width: $breakpoint768) {
            padding: 50px 0;
        }

        .action__title {
            margin-bottom: 35px;
        }

        .action__btn {
            margin: 0 auto;
            max-width: 450px;
        }
    }
}